@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: lato, sans-serif;
    font-weight: 200;
    color: #555555;
}

/* Headings and the logo */
h1, h2 {
font-family: open sans, sans-serif;
text-transform: uppercase;
color: #313131;
letter-spacing: 5px;
}
#logo {
    float:left;
    font-size: 220%;
}

/* Navigation links */
#menu {
    letter-spacing: 5px;
    float: right;
    font-size: 140%;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}
#menu, #logo {
line-height: 50px;
}
#menu a {
    text-decoration: none;
    color: #555555;
}
#menu a:hover {
    border-bottom: 2px solid #555555;
}
/* Hero Image */
#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}
#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/Main\ image.jpg') no-repeat center center;
}