@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: lato, sans-serif;
    font-weight: 200;
    color: #555555;
}

/* Headings and the logo */
h1, h2 {
font-family: open sans, sans-serif;
text-transform: uppercase;
color: #313131;
letter-spacing: 5px;
}
#logo {
    float:left;
    font-size: 220%;
}

/* Navigation links */
#menu {
    letter-spacing: 5px;
    float: right;
    font-size: 140%;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}
#menu, #logo {
line-height: 50px;
}
#menu a {
    text-decoration: none;
    color: #555555;
}
#menu a:hover {
    border-bottom: 2px solid #555555;
}
/* Hero Image */
#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}
#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/Main\ image.jpg') no-repeat center center;
}
/* Classes And Benefits */
#our-classes {
    font-size: 200%;
    text-align: center;
    padding: 2%;
    clear: both;
}
#the-classes {
    text-align: center;
    padding-top: 30px;
}
#the-classes p {
    margin-bottom: 20px;
}
hr {
    width: 100%;
    border-top: 2px solid #555555;
    margin: 5px;
    padding: 1%;
}
/* Timetable */
#class-times {
    height: 500px;
    text-align: center;
}
#timetable {
    height: 25%;
    width: 75%;
    background: url('../images/Main/TIMETABLE-01.png');
    background-repeat: no-repeat;
    position: absolute;
    margin: 0%;
}

/* Footer */
footer {
    height: 250px;
}
.social-networks {
    text-align: center;
}
.social-networks i {
    color: #555555;
    padding: 2%;
    margin: 3%;
    font-size: 150%;
}
.social-networks li {
    display: inline;
}